<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @article do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
  </div>
  <div>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
  <% if admin_signed_in?%>
    <div>
      <%= f.label :locked, "Lock this article from editing?"%>
      <%= f.check_box :locked%>
    </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
