<p id="notice"><%= notice %></p>

<h1>Title: <%= @article.title %></h1>

<div>
    <%= @article.body.to_s.html_safe%>
</div>
<<<<<<< HEAD

=======
>>>>>>> 64b15a604a350c4fdd59b0f1fdef95e9edc7d066
<div>
    <% @article.images.each do |image| %>
        <%= link_to(image_path(image)) do %>
            <%= image_tag url_for(image) %>
        <% end %>
    <% end %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
