<p id="notice"><%= notice %></p>
<div>
        <%= image_tag url_for(@imageAtt) %>
        <p> Image Uploaded On: <%= @imageAtt.created_at %> 
        </br>
        Size: <%= @imageBlob.byte_size %> bytes
        </br>
        Dimensions: Width: <%= @imageBlob.metadata["width"] %> Height: <%= @imageBlob.metadata["height"] %>
        </p>
        <p>
        Comments: <%= @article.comment%>
        </p>
</div>
<%= link_to 'Articles', articles_path %>
